/* slot widget */
td.mcwUpdateFields:nth-of-type(1) {
	width: 245px;
} 
td.mcwUpdateFields:nth-of-type(2) {
	width: 285px;
} 
td.mcwUpdateFields:nth-of-type(3) {
	width: 85px;
} 


/* image size widget */
.tl_text_4 {
    width: 50px;
}

.tl_select_interval {
    width: 110px;
}

.tl_imageSize_0 {
    background-position: 43px 1px !important;
}

.tl_imageSize_1 {
    background-position: 44px -18px !important;
}



/* image widget */
.tl_text_trbl {
    width: 40px;
}

.trbl_top {
    background-position: 35px -39px !important;
}

.trbl_right {
    background-position: 35px -59px !important;
}

.trbl_bottom {
    background-position: 35px -79px !important;
}

.trbl_left {
    background-position: 35px -99px !important;
}
